/*--------------------------------------------------------------

-# Base

---------------------------------------------------------------*/

html{
	position: relative;
	min-height: 100%;
	font-size: 16px;
	line-height: 21px;
}

body{
	font-family: 'Montserrat', sans-serif;
}

p{
	color: #000;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 24px;
}

h1{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 24px;
}

h2{
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 24px;
}

h3{
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 24px;
}

h4{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 24x;
}

@include media-breakpoint-up(md) {

	p{
		color: #000;
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 28px;
	}

	h1{
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 28px;
	}
	
	h2{
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 28px;
	}
	
	h3{
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 28px;
	}
	
	h4{
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 28px;
	}

}

ul{
	padding-left:15px;
	line-height: 28px;
	margin-bottom: 28px;
}

/* menu */

.logo-holder{
	max-width: 200px;
	a{
		img{
			max-width: 100%;
			height: auto;
		}
	}
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-light{

	background-color: #fff!important;

	.navbar-nav{
		.nav-link{
			color: rgba(0, 0, 0, 1.0);
			font-weight: 600;
			font-size: 14px;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

/* breadcrumbs */

.breadcrumbs{

	margin-top: 25px;
	margin-bottom: 50px;

	a{
		font-size: 12px;
		color: #5B57A6;
	}

	.delimeter{
		display: inline-block;
		margin: 0px 10px;
		width: 10px;
		height: 10px;
		background-color:#5B57A6;
		mask-image: url('/wp-content/themes/acti/images/arrow_right.svg');
		-webkit-mask-image: url('/wp-content/themes/acti/images/arrow_right.svg');
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-position: 50%;
		-webkit-mask-position: 50%;
		mask-repeat:no-repeat;
		-webkit-mask-repeat: no-repeat;
	}
}

.archive{

	.breadcrumbs{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	@include media-breakpoint-up(md) {
		.breadcrumbs{
			margin-top: 25px;
			margin-bottom: 50px;
		}
	}
}

/* headerslider */

.slider-holder{
	position: relative;

	.container{
		position: relative;
	}

	#header-slider-btn-left,
	#header-slider-btn-right{
		bottom: -400px;
	}

	#product-slider-btn-left,
	#product-slider-btn-right{
		bottom: 40%;
	}

	.slider-button{
		text-align: center;
		height: 40px;
		width: 40px;
		position: absolute;
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
		z-index: 99;
		cursor: pointer;

		svg{
			max-width:100%;
			max-height: 40px;

			.purple-arrow {
				fill: #5B57A6;
				fill-rule: evenodd;
				transition: 0.3s ease all;

				&:hover{
					fill: #e60012;
					transition: 0.3s ease all;
				}
			}
		}

		&.btn-left{
			left:0;
			margin-left: 10px;
			transition: 0.3s ease all;

			&:hover{
				margin-left: 5px;
				transition: 0.3s ease all;
			}
		}
		&.btn-right{
			right: 0;
			margin-right: 10px;
			transition: 0.3s ease all;

			&:hover{
				margin-right: 5px;
				transition: 0.3s ease all;
			}
		}

		@include media-breakpoint-up(md) {
			&.btn-left{
				margin-left: -60px;
	
				&:hover{
					margin-left: -65px;
				}
			}
			&.btn-right{
				margin-right: -60px;
	
				&:hover{
					margin-right: -65px;
				}
			}
		}
	}

	.header-slider{

		&.home{
			.header-slide{
				background-color:#F5F5F5;
			}
		}

		.header-slide{
			position: relative;
			min-height: 350px;

			@include media-breakpoint-up(md) {
				min-height: 500px;
			}

			.full-width{
				position: absolute;
				background-size: cover;
				background-position: 50%;
				background-repeat: no-repeat;
				height: 100%;
				width: 100%;
			}

			.text-holder{
				position: relative;
				padding: 50px 50px;

				h1,h2,h3{
					color: #5B57A6;
					font-weight: 700;
				}
			}

			.header-slide-image{
				position: relative;
				background-size: cover;
				background-position: 50%;
				margin-left:-15px;

				.overlay{
					padding-top: 100%;
				}
			}

			@include media-breakpoint-up(md) {
				.text-holder{
					padding: 100px 0px;
				}

				.header-slide-image{

					margin-left:0px;

					.overlay{
						padding-top: 200%;
						background-image:url('/wp-content/themes/acti/images/arrow_overlay_001.svg');
						background-size: cover;
						background-position: 50%;
					}
				}
			}
		}
	}
}

/* content */

.graph{
	position: absolute;
	opacity: 0.15;
}

.image{
	margin-bottom: 30px;
	padding-top: 100%;

	&.arrow{
		mask: url('/wp-content/themes/acti/images/arrow_left.svg');
		mask-size: contain;
		mask-position: 50%;
		mask-repeat:no-repeat;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
	}
}

.content{

	.section{
		position: relative;
		overflow: hidden;
		padding: 25px 0;

		@include media-breakpoint-up(md) {
			padding: 50px 0;
		}

		.section-title{
			text-align: center;
		}

		.usps{
			font-size: 18px;
			line-height: 28px;
			margin-left: 2em;

			li{
				margin-bottom: 15px;
				.fa-li{
					text-align: left;
				}
			}
		}

		.gallery-image{
			display: block;
			padding-top: 70%;
			background-size: cover;
			background-position: 50%;
			margin-bottom: 30px;
			border-radius: 20px;
		}

		&.white{
			background-color: #fff;

			h1,h2,h3,h4{
				color: #5B57A6;
			}

			.graph{
				display: none;
			}

			.usps{
				li{
					.fa-li{
						color:#5B57A6;
					}
				}
			}
		}

		&.grey{
			background-color: #F5F5F5;

			h1,h2,h3,h4{
				color: #5B57A6;
			}

			.graph{
				left: 0;
				top: -50px;

				.sec-graph {
					stroke:#5B57A6;
				}
			}

			.usps{
				li{
					.fa-li{
						color:#5B57A6;
					}
				}
			}
		}

		&.yellow{
			background-color: #feefdd;

			h1,h2,h3,h4{
				color: #F7941E;
			}

			.graph{
				display: none;
			}

			.usps{
				li{
					.fa-li{
						color:#F7941E;
					}
				}
			}
		}

		&.green{
			background-color: #F5F5F5;

			h1,h2,h3,h4{
				color: #00A651;
			}

			.graph{
				left: 0;
				top: -150px;
				transform: rotate(45deg);

				.sec-graph {
					stroke: #00A651;
				}
			}

			.usps{
				li{
					.fa-li{
						color:#00A651;
					}
				}
			}
		}

		&.bg{
			background-size: cover;
			background-position: 50%;

			.whitebox{
				background-color: rgba(255,255,255,0.7);
				padding: 15px;
				border-radius: 10px;

				@include media-breakpoint-up(md) {
					padding: 30px;
				}
			}
		}

		&.small-padding{
			padding: 50px 0!important;
		}

		/* images */

		.content-image{
			max-width: 100%;
			height: auto;
			margin-bottom: 30px;
		}

		.pagina-item{
			position: relative;
			display: block;
			background-size: cover;
			background-position: 50%;
			border-radius: 20px;
			overflow: hidden;
			margin-bottom: 30px;
			padding: 30% 0;

			.overlay{
				position: absolute;
				top: 0;
				background-color: rgba(0,0,0,0.33);
				width: 100%;
				height: 100%;
				text-align: center;
				padding: 25% 0;

				h3{
					color: #fff;
					text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
					font-size: 20px;
					font-weight: 700;
					line-height: 30px;
					text-transform: uppercase;
					transition: 0.3s ease all;
					margin: 0;
				}

				&:hover{

					h3{
						font-size:26px;
						transition: 0.3s ease all;
					}
				}
			}
			&:hover{
				text-decoration: none;
			}
		}

		.product-item{

			display: block;
			background-color: #fff;
			border-radius: 20px;
			margin-bottom: 30px;

			&:hover{
				text-decoration: none;
			}

			.inner{
				position: relative;
				padding: 30px;

				.product-item-image{
					padding-top: 70%;
					background-size: 70%;
					background-position: 50%;
					background-repeat: no-repeat;
					margin-bottom: 15px;
					transition: 0.3s ease all;
				}

				h4{
					color: #5B57A6;
					font-size: 14px;
					line-height: 20px;
					font-weight: 600;
					text-align: center;
					transition: 0.3s ease all;
				}

				&:hover{

					.product-item-image{
						background-size: 80%;
						transition: 0.3s ease all;
					}

					h4{
						color: #e60012;
						transition: 0.3s ease all;
					}
				}
			}
		}

		.partner-item{
			position: relative;
			display: block;
			background-color: #fff;
			border-radius: 20px;
			margin-bottom: 30px;
			padding: 30px;
			overflow: hidden;
			transition: 0.3s ease all;

			.logo{
				max-width: 100%;
				height: auto;
			}

			svg{
				color: #e60012;
			}

			.graph2{
				position: absolute;
				top: 30px;
				right: 0;
				width: 60%;
				height: 60%;
				opacity: 0;
				z-index: 0;
				transform: rotate(110deg);
				transition: 0.3s ease all;

				svg{
					width: 100%;
					height: auto;
				}
			}

			&:hover{
				text-decoration: none;
				transition: 0.3s ease all;
				.graph2{
					opacity: 0.15;
					transition: 0.3s ease all;
				}

				h3,p{
					text-decoration: none;
				}
			}
		}

		.embed-container { 
			position: relative; 
			padding-bottom: 56.25%; 
			height: 0; 
			overflow: hidden; 
			max-width: 100%;
			margin-bottom: 30px;
			border-radius: 20px;

			iframe,object,embed{
				position: absolute; 
				top: 0; 
				left: 0; 
				width: 100%; 
				height: 100%;
			}
		}

		.filter{
			padding:15px;
			background-color: #fff;
			border-radius: 20px;
			margin-bottom: 30px;

			@include media-breakpoint-up(md) {
				padding:30px;
			}

			.filter-expander{
				display: block;

				@include media-breakpoint-up(md) {
					display: none;
				}
			}

			.filter-sections{

				position: relative;
				overflow: hidden;
				display: none;
				padding-top: 15px;

				@include media-breakpoint-up(md) {
					display: block;
				}

				&.expanded{
					display: block;
				}
			}

			.filter-section{
				margin-bottom: 15px;
			}

			h4{
				font-size: 18px;
				font-weight: 600;
				margin-bottom:5px;
			}

			label{
				font-size: 0.8rem;
			}
		}

		.pagination{
			align-items: center;
			justify-content: center;

			
		}
	}
}

.page-link {
    color: #5B57A6;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #5B57A6;
	border-color: #5B57A6;
}

/* news */

.news-item{
	background-color: #fff;
	border-radius: 6px;
	margin-bottom: 30px;
	overflow: hidden;

	.image{
		padding-top: 100%;
		background-size: cover;
		background-position: 50%;
		margin-bottom: 0;
	}

	.text-holder{
		padding: 15px;
	}
}

/* product-spotlight */

.product-slider-holder{

	margin: 0px -15px;
	padding: 25px 0;

	.product-slider{

		padding: 0px 50px;
		position: relative;

		@include media-breakpoint-up(md) {
			padding: 0px 0px;
		}

		.product-slide{

			display: block;
			background-color: #fff;
			margin: 0px 15px;
			border-radius: 20px;

			&:hover{
				text-decoration: none;
			}

			.inner{
				position: relative;
				padding: 30px;

				.product-slide-image{
					padding-top: 70%;
					background-size: 70%;
					background-position: 50%;
					background-repeat: no-repeat;
					margin-bottom: 15px;
					transition: 0.3s ease all;
				}

				h4{
					color: #5B57A6;
					font-size: 14px;
					line-height: 20px;
					font-weight: 600;
					text-align: center;
					transition: 0.3s ease all;
				}

				&:hover{

					.product-slide-image{
						background-size: 80%;
						transition: 0.3s ease all;
					}

					h4{
						color: #e60012;
						transition: 0.3s ease all;
					}
				}
			}
		}
	}
}

/* product */

.header-product{
	position: relative;
	background-color: #F5F5F5;

	.graph{
		left: 0;
		top: 0;

		.sec-graph {
			stroke:#5B57A6;
		}
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.section-tabs{
	background-color: #fff;
	padding-top: 30px;

	@include media-breakpoint-up(md) {
		border-bottom: 4px solid #5B57A6;
	}

	.tab-btn{
		position: relative;
		font-size: 20px;
		line-height: 28px;
		padding: 15px 15px;
		color: #7F7F7F;
		display: block;
		cursor: pointer;
		border-bottom: 4px solid #5B57A6;

		&.right{
			float:right;
			border-bottom: none;
		}

		span{
			position: absolute;
			right: 50%;
			margin-right: -10px;
			bottom: 0;
			width: 20px;
			height: 20px;
			opacity: 0;
			transition: 0.3s ease all;
			margin-bottom: 3px;

			svg{
				max-width: 20px;
				height: auto;
				transform: rotate(90deg);

				.purple-arrow {
					fill: #5B57A6;
					fill-rule: evenodd;
				}
			}
		}

		&.active,
		&:hover{
			span{
				opacity: 1;
				transition: 0.3s ease all;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.tab-btn{
			display: inline-block;
			padding: 25px 15px;
			border-bottom: none;
		}

		&.right{
			float:none;
		}

	}
}

.table{
	color: #000;
	font-size: 14px;
	line-height: 28px;

	.thead-title,
	.thead-title-idle{
		position: relative;
		border-bottom: 4px solid #5B57A6;
		font-weight: 700;
		font-size: 14px;
		color: #5B57A6;
		padding: .75rem;
		z-index: 2;
	}

	.td-value{
		text-align: center;
	}

	.icon-green{
		color: #00A651;
		font-size: 14px;
	}
	
	.icon-red{
		color: #e60012;
		font-size: 14px;
	}
	
	.icon-grey{
		color: #7e7e7e;
		font-size: 14px;
	}
}

/* forms */

.wpcf7-response-output:empty {
	display: none;
}
.wpcf7-response-output.alert {
	border-radius: 5px;
	background-color: #d4edda; /* or aliceblue if you prefer a blue success alert */
	border: 1px solid #c3e6cb;
	color: #155724;
}
.wpcf7-form.invalid .wpcf7-response-output.alert {
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
	color: #856404;
}
.wpcf7-form.invalid div.form-group.has-error input,
.wpcf7-form.invalid div.form-group.has-error textarea {
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;

}
form.wpcf7-form .form-group span.help-block.wpcf7-not-valid-tip {
	color: #721c24;
	font-size: 1rem; /* adjust if you need to */
	font-style: italic; /* just my preference */
}

/* footer */

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;
	overflow: hidden;

	.graph{
		left: 0;
		top: 0px;
		transform: rotate(-150deg);

		.sec-graph {
			stroke: #CCCACA;
		}
	}

	img{
		max-width: 100%;
		height: auto;
		margin-bottom: 30px;
	}

	h2{
		color: #fff;
		font-weight: 700;
		font-size: 14px;
	}

	ul{
		list-style: none;
		padding-left: 0px;
		li{
			a{
				color: #CCCACA;
			}
		}
	}

	.footer-top{

		padding-top: 100px;

		.footer-section-1{
			border-bottom: 2px solid #e60012;
		}

		.footer-section-2{
			border-bottom: 2px solid #5B57A6;
		}

		.footer-section-3{
			border-bottom: 2px solid #F7941E;
		}

		.footer-section-4{
			border-bottom: 2px solid #00A651;
		}

	}

	.footer-section{
		margin-bottom: 100px;
	}

	.footer-bottom{
		min-height: 50px;
		text-align: right;
		
		p{
			color: #CCCACA;
			padding-top: 10px;
			padding-bottom: 10px;
			margin: 0;
		}
	}
}

/**** Large screens ****/

@media (min-width: 1600px){

	.container{
		max-width: 1320px;
	}
}