/*--------------------------------------------------------------

-# Form

---------------------------------------------------------------*/
.wpcf7{
    br{
        display: none;
    }

    p{
        margin: 0;
    }
}

.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.wpcf7 form .wpcf7-response-output {
	margin: 0;
	padding: 15px;
	border: 1px solid #00a0d2; /* Blue */
    border-radius: 10px;
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    color: #856404;
    background-color: #fff3cd;
	border-color: #ffeeba; /* Yellow */

}

.wpcf7-form-control-wrap {
    display: block;
	position: relative;
    margin-bottom: 15px;

    input{
        width: 100%;
        padding: 10px 5px;
        border-radius: 10px;
        border: 1px solid #CCCACA;
        transition: 0.3s ease all;
    }

    textarea{
        width: 100%;
        padding: 10px 5px;
        border-radius: 10px;
        border: 1px solid #CCCACA;
        transition: 0.3s ease all;
    }
    select{
        width: 100%;
        padding: 10px 5px;
        border-radius: 10px;
        border: 1px solid #CCCACA;
        transition: 0.3s ease all;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {   
    border-color: rgba(91, 87, 166, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(91, 87, 166, 0.8);
    outline: 0 none;
    transition: 0.3s ease all;
    }
}

.wpcf7-not-valid-tip {
	color: #721c24;
    background-color: #f8d7da;
	font-size: 1em;
	font-weight: normal;
	display: inline-block;
    margin-top: 5px;
    border: 1px solid #f5c6cb;
    padding: 5px 10px;
    border-radius: 5px;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

.wpcf7 form.submitting .ajax-loader {
	visibility: visible;
}

.wpcf7 .ajax-loader::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7 .ajax-loader::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}

