.btn{
    display: inline-block;
    font-weight: 800;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px 30px;
    font-size: 12px;
    line-height: 28px;
    border-radius: 10px;
    transition: 0.3s ease all;
    margin-right: 15px;
    margin-bottom: 15px;

    &.full-width{
        width: 100%;
        margin-bottom: 0px;
    }

    &.btn-primary {
        color: #fff;
        background-color: #5B57A6;
        border-color: #5B57A6;

        &:hover{
            background-color: #8a82bb;
            border-color: #8a82bb;
        }
    }

    &.btn-secondary {
        color: #fff;
        background-color: #00A651;
        border-color: #00A651;

        &:hover{
            background-color: #4db87c;
            border-color: #4db87c;
        }
    }

    &.btn-tertiary {
        color: #fff;
        background-color: #F7941E;
        border-color: #F7941E;

        &:hover{
            background-color: #f7b64d;
            border-color: #f7b64d;
        }
    }

    &.btn-primary-alt {
        color: #5B57A6;
        background-color:transparent;
        border-color: #5B57A6;

        &:hover{
            color: #fff;
            background-color: #8a82bb;
            border-color: #8a82bb;
        }
    }

    &.btn-secondary-alt {
        color:#00A651;
        background-color: transparent;
        border-color: #00A651;

        &:hover{
            color: #fff;
            background-color: #4db87c;
            border-color:  #4db87c;
        }
    }

    &.btn-tertiary-alt {
        color:#F7941E;
        background-color: transparent;
        border-color: #F7941E;

        &:hover{
            color: #fff;
            background-color: #f7b64d;
            border-color: #f7b64d;
        }
    }
}
