/*--------------------------------------------------------------

-# Footer

---------------------------------------------------------------*/

footer{
	min-height: 300px;
	background-color: #444444;
}