/*--------------------------------------------------------------

-# Header

---------------------------------------------------------------*/


.header {
	position: relative;
	background-size: cover;
	background-position: 50%;
	min-height: 100vh;
	overflow: hidden;

	.title-header {
		position: relative;
		margin-top: 50vh;
		margin-bottom: 0px;

		.header-text {
			position: relative;
			padding: 50px;
			padding-right: 50px;
			background-color: rgba(0,141,203,0.75);
			text-align: center;

			h1 {
				text-transform: uppercase;
				color: #fff;
				margin: 0;
				font-size: 48px;
				font-weight: 400;
			}
		}

		.subtitle {
			position: relative;
			background-color: #fff;
			margin-right: 0px;
			padding: 25px;
			bottom: 0%;

			h3 {
				margin: 0;
				font-size: 24px;
				letter-spacing: -1px;

				a {
					display: inline-block;
					margin-left: 15px;
					height: 30px;

					.arrow {
						width: 70px;
						height: 3px;
						margin-top: 20px;
						background-color: #008DCB;
						position: relative;

						&:after {
							content: '';
							width: 0;
							height: 0;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-left: 8px solid #008DCB;
							position: absolute;
							right: -7px;
							top: -6.5px;
						}
					}
				}
			}
		}
	}
}

.header-empty {
	min-height: 75px;
}
