/*--------------------------------------------------------------

-# Navigation

---------------------------------------------------------------*/

.navbar {

  .navbar-nav{
    border-left: 1px solid #5B57A6;
    border-right: 1px solid #5B57A6;
    margin-bottom: 10px;
  }

  .navbar-toggler {
    position: relative;
    z-index: 99;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #5B57A6;

    .navbar-toggler-icon {

      .svg-inline--fa{
        height: 40px;
      }

      background: none;
      width: 40px;
      height: 40px;
      color: #fff;

      &.icon-close {
        display: none;
      }
    }
  }

  .navbar-toggler[aria-expanded="true"] {

    position: relative;
    background-color: #5B57A6;

    .navbar-toggler-icon {

      .svg-inline--fa{
        height: 40px;
      }
  
      &.icon-open {
        display: none;
      }
  
      &.icon-close {
        display: block;
        position: absolute;
        top: 0;
        border: none;
        color: #fff;

      }
    }
  }

  .mobile-menu-phone {
    display: block;
  }
}


@include media-breakpoint-up(md) {
  .navbar {

    .navbar-nav{
      border-left: none;
      border-right: none;
      margin-bottom: 0px;
    }

    .navbar-toggler {

      .navbar-toggler-icon {

        &.icon-close {
          display: none;
        }
      }
    }

    .mobile-menu-phone {
      display: none;
    }
  }
}


header {
  z-index: 5;
  position: relative;
  width: 100%;
  // top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;

  &.change {
    position: relative;
    width: 100%;
    z-index: 10;
    // top: 0;
    transition: 500ms ease-in-out;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  }
}
