/*--------------------------------------------------------------

-# Search

---------------------------------------------------------------*/
/* searchbar */

.navbar {

  .search-bar {
    width: 100%;

    .search-form {

      label {
        width: 100%;
        margin-bottom: 0;
        position: relative;

        .search-field {
          position: relative;
          width: 100%;
          background-color: transparent;
          cursor: pointer;
          height: 37px;
          margin: 3px 0;
          padding: 0 0 0 34px;
          position: relative;
          border: 1px solid #C5C5C5;
          border-radius: 5px;

          &:focus {
            border: 1px solid #5B57A6;
          }
        }

        .toggle-search{
          color: #000;
          display: block;
          width: 37px;
          height: 37px;
          line-height: 37px;
          text-align: center;
          background-color: transparent;
          position: absolute;
          top: 3px;
          left: 0;
          z-index: 2;
          cursor: pointer;
        }
      }

      .search-submit {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {

    .search-bar {
      width: auto;

      .search-form {

        label {
          width: auto;
          margin-bottom: 0;

          .search-field {
            width: auto;
            -webkit-transition: width 400ms ease, background 400ms ease;
            transition: width 400ms ease, background 400ms ease;
            width: 0;
            border: none;
            border-radius: 0;

            &:focus {
              background-color: #fff;
              border: 1px solid #5B57A6;
              border-radius: 5px;
              cursor: text;
              outline: 0;
              width: 230px;
            }
          }
        }
      }
    }
  }
}
